
<h3>Search</h3>
<div id="site_search">
    <input type="text" id="search_box" placeholder="Search">
    <button class="btn btn-default" id="site_search_do"><span class="octicon octicon-search"></span></button>
</div>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=310 height=52 src="//music.163.com/outchain/player?type=2&id=69562&auto=1&height=32"></iframe>
<ul id="search_results"></ul>

<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/modules/sidebar-search.css">
<script src="{{ site.url }}/assets/js/lunr.min.js"></script>
<script src="{{ site.url }}/assets/js/search.js"></script>

